[Unit]
Description=responder
After=network.target network-online.target

[Service]
Type=simple
User=root
Group=root
Restart=always
RestartSec=15
ExecStartPre=/bin/mkdir -p /var/run/responder
PIDFile=/var/run/responder/service.pid
ExecStart=/usr/bin/python3 /bin/i2ds-responder/main.py

[Install]
WantedBy=multi-user.target

